---
import Layout from "../../layouts/Layout.astro";
import pb from "../../utils/pb";
import { Collections, type SvgRecord } from "../../utils/pocketbase-types";
import Menu from "../../Components/Menu.astro";

const svg = await pb.collection(Collections.Svg).getFullList();

const user = Astro.locals.user; // Récupère l'utilisateur connecté
const svgList = await pb.collection(Collections.Svg).getFullList({
    sort: "-created", // Trie les SVGs du plus récent au plus ancien
    filter: `user = "${user.id}"`, // Filtre pour n'afficher que les SVGs de l'utilisateur
});
---

<Layout>
    <Menu />
    <h1 class="text-3xl font-bold p-12">Gallerie</h1>
    <div class="card bg-base-100 shadow-xl p-20">
        <div class="card-body">
            <h2 class="card-title">Preview</h2>

            <div
                class="flex flex-col gap-4 w-full mb-20 overflow-y-auto flex-grow"
            >
                {
                    svg.map((item: SvgRecord) => (
                        <div>
                            <a href={`/gallery/${item.id}`}>{item.name}</a>
                        </div>
                    ))
                }
            </div>
            <div>
                <h1>SVG Créé par Vous</h1>
                {
                    svgList.map((item: SvgRecord) => (
                        <div>
                            <a href={`/gallery/${item.id}`}>{item.name}</a>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
